################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/facialcues/.vs/facialcues/v17
/facialcues/bin/Debug/net6.0
/facialcues/obj
